<div class="container mt-4" *ngIf="!(loading$ | async); else loading">
  <h4 class="mb-3 text-center" *ngIf="repos?.[0]?.owner; else error">
    <img
      *ngIf="repos[0].owner?.avatar_url; else noAvatar"
      class="rounded-circle user-avatar mb-2 me-2"
      [src]="repos[0].owner?.avatar_url"
      alt="Avatar"
    />
    <span class="user-select-none">Repository list for </span>

    <span
      class="d-inline-flex align-items-center user-select-none"
      data-bs-toggle="tooltip"
      title="User Type"
    >
      <span>
        {{ username }}
      </span>
      <app-user-type-badge [type]="repos[0].owner?.type"></app-user-type-badge>
    </span>
  </h4>

  <ng-template #noAvatar>
    <span class="text-muted">No avatar available</span>
  </ng-template>

  <div *ngIf="repos && repos.length > 0; else noRepos">
    <div class="d-flex justify-content-end">
      <ng-container *ngTemplateOutlet="goBackButton"></ng-container>
    </div>
    <ul
      class="list-group"
      infiniteScroll
      (scrolled)="loadMoreRepos()"
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="scrollThrottle"
      [scrollWindow]="false"
    >
      <li class="list-group-item" *ngFor="let repo of repos">
        <div
          class="d-flex flex-column flex-md-row justify-content-between align-items-md-center"
        >
          <div class="d-flex flex-column ms-3 mb-2 mb-md-0">
            <h5>{{ repo.name }}</h5>
            <div *ngIf="repo.description" class="d-flex flex-column">
              <span
                *ngIf="repo.description.length > 100"
                [title]="repo.description"
                data-bs-toggle="tooltip"
              >
                {{ repo.description | slice : 0 : 100 }}...
              </span>
              <span *ngIf="repo.description.length <= 100">
                {{ repo.description }}
              </span>
            </div>
          </div>
          <a
            target="_blank"
            [href]="repo.html_url"
            class="btn btn-outline-primary"
          >
            Browse
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #noRepos>
  <div class="container mt-4">
    <h4 class="mb-3 text-center">No repositories found for {{ username }}</h4>
    <div class="d-flex justify-content-center">
      <ng-container *ngTemplateOutlet="goBackButton"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #goBackButton>
  <button class="btn btn-secondary mb-3" (click)="goBack()">
    Back to Dashboard
  </button>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #error>
  <div class="container mt-4">
    <h4 class="mb-3 text-center text-danger">Error loading repository data</h4>
    <p class="text-center">Please try again later or check the username.</p>
  </div>
</ng-template>
